# Visual Studio Code settings
.vscode/

# Claude code settings
.claude/

# Environment files
*/.env

# Google Cloud service account credentials
ocr-service/credentials.json

# pytesseract tutorial
pytesseract-tutorial